<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
       <%= render partial: "forms" %>
       <%# 新規投稿とのパスが異なるので編集ように新しいファイルを作成しました%>
    </div>
  </div>
</div>